@page "/"
@using PizzaPlace.Models
@rendermode InteractiveServer

<!-- Menu-->
<h1 class="text-center">Nuestra selecci&oacute;n de Pizzas</h1>
@foreach (var pizza in estado.Menu.Pizzas)
{
    <div class="row">
        <div class="col">
            <strong>@pizza.Nombre</strong>
        </div>
        <div class="col text-right">
            @($"{pizza.Precio:RD$ 0.00}")
        </div>
        <div class="col"></div>
        <div class="col">
            <img src="@PicanteImagenes(pizza.Picante)"
                 alt="@pizza.Picante" />
        </div>
        <div class="col">
            <button class="btn btn-success pl-4 pr-4"
                    @onclick="@(() => AgregarCesta(pizza))">
                Agregar
            </button>
        </div>
    </div>
    <br />
}

<!-- Final menu-->
<!--Cesta de Comprar-->
@if (estado.Cesta.Ordenes.Any())
{

<hr />
    <h1 class="text-center">Tu pedidos actuales</h1>
    @foreach (var (pizza, posicion) in estado.Cesta.Ordenes.Select((id, posicion) => (estado.Menu.GetPizza(id), posicion)))
    {
        <div class="row">
            <div class="col">
                <strong>@pizza!.Nombre</strong>
            </div>
            <div class="col text-right">
                @($"{pizza.Precio:RD$ 0.00}")
            </div>
            <div class="col"></div>
            <div class="col">
                <img src="@PicanteImagenes(pizza.Picante)" alt="@pizza.Picante" />
            </div>
            <div class="col">
                <button class="btn btn-danger pl-4 pr-4"
                        @onclick="@(() => EliminarEnLaCesta(posicion))">
                    Eliminar
                </button>
            </div>
        </div>
    }
    <div class="row">
        <div class="col"></div>
        <div class="col"><hr /></div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
    <div class="row">
        <div class="col"><strong> Total:</strong></div>
        <div class="col text-right font-weight-bold"><strong></strong> <strong>@($"{estado.precioTotal:RD$ 0.00}")</strong> </div>
        <div class="col"> </div>
        <div class="col"> </div>
        <div class="col"> </div>
    </div>
}

<!-- Finalizar cesta de compra -->
<!-- Entrada Cliente -->
<br />
<hr />
<h1 class="text-center">Por favor, introduzca sus datos a continuaci&oacute;n</h1>
<EditForm Model="@estado.Cesta.Clientes" OnValidSubmit="RealizarPedido">
    <DataAnnotationsValidator />
    <fieldset>
        <div class="row mb-2">
            <label class="col-2" for="Nombre">Nombre:</label>
            <InputText class="form-control col-6" id="Nombre" @bind-Value="estado.Cesta.Clientes.Nombre" />
            <ValidationMessage For="@(() => estado.Cesta.Clientes.Nombre)" />
        </div>

        <div class="row mb-2">
            <label class="col-2" for="Calle">Calle:</label>
            <InputText class="form-control" id="Calle" @bind-Value="estado.Cesta.Clientes.Calle" />
            <ValidationMessage For="@(() => estado.Cesta.Clientes.Calle)" />
        </div>

        <div class="row mb-2">
            <label class="col-2" for="Ciudad">Ciudad:</label>
            <InputText class="form-control" id="Ciudad" @bind-Value="estado.Cesta.Clientes.Ciudad" />
            <ValidationMessage For="@(() => estado.Cesta.Clientes.Ciudad)" />
        </div>
        <div >
            <br />
            <button class="mx-auto w-25 btn btn-success">Realizar pedido</button>
            <br /><br />
        </div>

    </fieldset>
</EditForm>

<!-- Final Entrada del Cliente -->
@code {
    private Estados estado { get; } = new Estados();

    protected override void OnInitialized()
    {
        estado.Menu.Add(
            new Pizzas(1, "Pepperoni", 450M, Picantes.Picante));
        estado.Menu.Add(
            new Pizzas(2, "Margherita", 400.00M, Picantes.Nada));
        estado.Menu.Add(
            new Pizzas(3, "Diabolo", 500M, Picantes.MasPicante));
    }
    private String PicanteImagenes(Picantes picante) => $"imagenes/{picante.ToString().ToLower()}.png";

    public void AgregarCesta(Pizzas pizza) => estado.Cesta.Añadir(pizza.Id);
    private void EliminarEnLaCesta(int posicion) => estado.Cesta.EliminarEn(posicion);

    private void RealizarPedido()
    {
        Console.WriteLine("Orden Realizada");
    }
}
